<%- include('partials/common')   %>


<center>


    <p>The weather is currently <%= ejs_desc  %></p>
    <h1>The temprature in <%= ejs_query %> is <%= ejs_temp %> degree Celcius </h1>
    <img src=<%= ejs_url %> >

</center>
    
</body>
</html>